.sticky-header
{    
    @mixin atLarge
    {
        background-color: rgba(47, 85, 114, .3);
        transition: all .3s ease-out;
    }
	
	&--dark
	{
        background-color: rgba(47, 85, 114, .8);
	}
}