.row
{	

	&--b-margin-single-col
	{
		margin-bottom: 1.2rem;
	}
	
	&--t-padding
	{
	   padding-top: 80px
	}
	
	&--gutters-small
	{
        padding-left: 0px;
	   
        @mixin atSmall
        {
            padding-right: 40px;
        }
	   
	   & > div
	   {
	       @mixin atSmall
	       {
                padding-right: 40px;
	       }
	   }
	}
	
	@mixin atLarge
	{
		margin-right: -4rem;
		margin-bottom: 0px;
		overflow: hidden;
		
		
		@mixin clearfix;
		
		&--b-margin-single-col
		{
			margin-bottom: 0px;
		}

		& > div
		{
			padding-right: 4rem;
		}

		&--large-4w
		{
			float: left;
			width: 33%;
		}

		&--large-6w
		{
			float: left;
			width: 50%;
		}
		
		&--large-8w
		{
			float:left;
			width: 67%;
		}
	}
	
	/* Equal Height Rules */
	&--equal-height
	{
	   @mixin atLarge
	   {
	       display: flex;
	   }
	   
	   & > div
	   {
	       float: none;
           display: flex;
	   }
	   
	}
}

